##########################################################
#
# This is a sample flask.cfg for developing a Flask application
#
##########################################################
import os
# from dotenv import load_dotenv


# load_dotenv('.env')
# Get the folder of the top-level directory of this project
BASEDIR = os.path.abspath(os.path.dirname(__file__))

DEBUG = True

# Mongo DB
MONGODB_SETTINGS = {
    'db': 'recipebox',
    'host': 'mongodb+srv://admin:{}@cluster0-sgkwp.mongodb.net/test?retryWrites=true&w=majority'
    .format(os.environ['MONGO_PASSWORD'])
}

# Bcrypt algorithm hashing rounds
BCRYPT_LOG_ROUNDS = 15

# Celery
CELERY_BROKER_URL = 'redis://localhost:6379/0'
CELERY_RESULT_BACKEND = 'redis://localhost:6379/0'

# JWT update later
JWT_SECRET_KEY = f"{os.environ['JWT_SECRET_KEY']}"
